extend layout

block content
  .span5
    table.table.table-condensed
      each t in movies
        tr
          td <strong>title</strong>
          td= title
        tr
          td <strong>Director</strong>
          td= director
        tr
          td <strong>actors</strong>
          td 
            ul.nav
              each actor in t.actors
                li= actor
        tr
          td <strong>Writer(s)</strong>
          td
            ul.nav
              each writer in t.writers
                li= writer
        tr
          td <strong>imdb Rating</strong>
          td= t.imdbRating 
        tr
          td <strong>Plot</strong>
          td= plot
            
  
  .span5
    img(src= poster)